body {
    
    display: grid;
    place-content: center;
}

.container {
    display: grid;
    place-content: center;
}

.hidden {
    display: none;
}

.time {
    margin-top: 1em;
    font-size: 4rem;
}

#start-timer {
    margin-bottom: 1.5em;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.audio-controls span {
    font-size: 1.2rem;
    margin-right: 0.5em;
}

.reset-button {
    margin-top: 2rem;
}

.check-volume {
    margin-bottom: 2rem;
}